<div class="text-center">
  <%= link_to '<button class="glow-on-hover" type="button"">Clean Search</button>'.html_safe, cards_path %> <br /> <br />
</div>

<%= render 'search_form' %>
<%= render 'cards_list' %>